Source: 6005-cw1-2012-jm3g08
Section: net
Priority: extra
Maintainer: James Moran <jm3g08@soton.ac.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Vcs-Git: git://github.com/jamesmoran/6005-cw1-2012-jm3g08.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/6005-cw1-2012-jm3g08.git;a=summary

Package: 6005-cw1-2012-jm3g08
Architecture: all
Depends: ${misc:Depends}, php5
Description: 6005_cw1_2012 - the Simple PHP RSS Reader for INFO6005
 This is part of a coursework for Students on the INFO6005 
 course at the University of Southampton.
 In this course students are expected to package some code for 
 distribution on the debian/ubuntu platform
